[cog-logo] {
  display: block;
  line-height: 0;
  height: 50px;
  margin: 0 var(--gearbox-spacing-24, 24px);

  svg, img {
    display: block;
    width: auto;
    height: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
