[cog-footer] {
  display: flex;
  flex-direction: column;
  gap: var(--gearbox-spacing-24);
  padding: var(--gearbox-spacing-24) var(--gearbox-spacing-16);
  background-color: var(--gearbox-secondary-container);
  width: 100%;

  .copyright {
    margin: 0 auto;
  }
}
