[cog-news-list] {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--gearbox-spacing-32);

  .list {
    display: block;
    width: 100%;
  }

  .divider {
    height: 1px;
    background-image: repeating-linear-gradient(
      to right,
      var(--theme-border-color) 0,
      var(--theme-border-color) 1.5px,
      transparent 1.5px,
      transparent 5.5px
    );
  }

  .overview-page-indicator,
  .pagination-button-container {
    display: flex;
    justify-content: center;

    button, a {
      width: 100%;
      max-width: 300px;
    }
  }
}
