@use 'shared/theme/breakpoints/breakpoints' as breakpoints;

[cog-landing] {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: var(--gearbox-spacing-56);
    padding: var(--gearbox-spacing-56) 0;
  }

  .action-button {
    --cog-button-width: 100%;
    --cog-button-align: space-between;
    flex: 1;
  }

  [cog-swiper-slide] {
    --cog-swiper-slide-width: 360px;
  }

  [cog-swiper-slide]:first-of-type {
    margin-left: var(--gearbox-spacing-56);
  }

  [cog-swiper-slide]:last-of-type {
    margin-right: var(--gearbox-spacing-56);
  }

  @include breakpoints.media-down(sm) {
    .main-content {
      padding: var(--gearbox-spacing-16) 0 var(--gearbox-spacing-24);
      gap: var(--gearbox-spacing-48);
    }

    [cog-swiper-slide] {
      --cog-swiper-slide-width: calc(100vw - var(--gearbox-spacing-40));
    }

    [cog-swiper-slide]:first-of-type {
      margin-left: 0;
    }

    [cog-swiper-slide]:last-of-type {
      margin-right: 0;
    }

    .banner-swiper .swiper-inner {
      justify-content: flex-start;
      padding-left: var(--gearbox-spacing-20);
      padding-right: var(--gearbox-spacing-20);
    }
  }

  [cog-landing-section].banners {
    --landing-section-horizontal-padding: 0;
  }
}
