@use '../../../shared/theme/breakpoints/breakpoints' as breakpoints;

[cog-category-label] {
  // CSS Variables
  --cog-category-label-color: var(--theme-label-text-color);
  --cog-category-label-background-color: var(--theme-label-background-color);

  // Base styles
  display: inline-flex;
  align-items: center;
  background-color: var(--cog-category-label-background-color);
  color: var(--cog-category-label-color);
  padding: 2px 10px;
  border-radius: 2px;
  font-family: var(--theme-label-font-family, var(--gearbox-font-family-primary));
  font-size: 13px;
  font-weight: var(--gearbox-font-weight-regular);
}

// Primary color
[cog-category-label][color-primary] {
  --cog-category-label-color: var(--theme-button-primary-text-color);
  --cog-category-label-background-color: var(--theme-button-primary-background-color);
}

// Secondary color
[cog-category-label][color-secondary] {
  --cog-category-label-color: var(--theme-button-secondary-text-color);
  --cog-category-label-background-color: var(--theme-button-secondary-background-color);
}
