@use '../../../shared/theme/breakpoints/breakpoints' as breakpoints;

[cog-category-label] {
  display: inline-flex;
  align-items: center;
  background-color: var(--theme-label-background-color, var(--gearbox-primary));
  color: var(--theme-label-text-color, var(--gearbox-on-primary));
  padding: var(--gearbox-spacing-4) var(--gearbox-spacing-8);
  border-radius: 5px;
  font-family: var(--theme-label-font-family, var(--gearbox-font-family-primary));
  font-size: var(--gearbox-font-size-caption-large);
  font-weight: var(--gearbox-font-weight-regular);
  line-height: var(--gearbox-line-height-loose);
}
