@use '../../../shared/theme/breakpoints/breakpoints' as breakpoints;

[cog-footer-menu] {
  display: flex;
  width: 100%;
  margin-bottom: 6px;
}

@include breakpoints.media-up(lg) {
  [cog-footer-menu] {
    gap: 32px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@include breakpoints.media-down(lg) {
  [cog-footer-menu] {
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 16px;
  }
}
