[cog-news-detail] {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    display: flex;
    flex: 1;
  }

  .inner {
    display: block;
    flex-grow: 1;
  }

  .action-button {
    flex: 1;
    max-width: 300px;
    --cog-button-width: 100%;
  }
}
