@use '../../../shared/theme/breakpoints/breakpoints' as breakpoints;

[cog-legal-links] {
  display: flex;
  width: 100%;
}

@include breakpoints.media-down(lg) {
  [cog-legal-links] {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gearbox-spacing-4);
  }
}

@include breakpoints.media-up(lg) {
  [cog-legal-links] {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gearbox-spacing-24);
  }
}
