[cog-form-field-label] {
  font-size: var(--gearbox-font-size-body-tiny);
  font-weight: var(--gearbox-font-weight-regular);
  line-height: var(--gearbox-line-height-relaxed);
  font-family: var(--gearbox-font-family-system);
  color: var(--gearbox-on-surface);
  width: 100%;
  display: inline-flex;
}
