@use '../../../shared/theme/breakpoints/breakpoints' as breakpoints;

[cog-date-label] {
  opacity: 0.4;
  display: inline-block;
  color: var(--theme-caption-text-color, var(--gearbox-secondary));
  font-weight: var(--gearbox-font-weight-semibold);
  line-height: var(--gearbox-line-height-relaxed);
  font-family: var(--theme-caption-font-family, var(--gearbox-font-family-primary));
}

@include breakpoints.media-up(sm) {
  [cog-date-label] {
    font-size: var(--gearbox-font-size-body-medium);
  }
}

@include breakpoints.media-down(sm) {
  [cog-date-label] {
    font-size: var(--gearbox-font-size-body-large);
  }
}
