@use "sass:map";
@use '../../../../shared/theme/breakpoints/breakpoints' as breakpoints;

[cog-detail-fragment] {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--gearbox-spacing-48);
  height: 100%;
  max-width: 700px;
  box-sizing: content-box;
  margin: 0 auto;
}

@include breakpoints.media-up(sm) {
  [cog-detail-fragment] {
    padding: 56px 56px 96px;
  }
}

@include breakpoints.media-down(sm) {
  [cog-detail-fragment] {
    padding: 40px 16px;
  }
}
