[cog-news-item] {
  width: 100%;
  padding: 16px 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .category {
    margin-top: 6px;
  }

  .date {
    justify-self: end;
  }

  .title {
    font-family: var(--gearbox-font-family-heading);
    font-weight: var(--gearbox-font-weight-bold);
    font-size: var(--gearbox-font-size-title-small);
    margin-top: 2px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--gearbox-secondary);
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
