[cog-detail-fragment-header] {
  display: block;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);

  .bars {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gearbox-spacing-16);
    padding-bottom: var(--gearbox-spacing-16);
  }
}
