[cog-tab] {
  display: inline-block;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--theme-tab-inactive-underline-color, var(--gearbox-outline));
  background-color: transparent;
  cursor: pointer;
  position: relative;
  text-align: center;
  min-width: 120px;
  width: auto;
  flex: 0 0 auto;
  box-sizing: border-box;
  padding: 0;
  flex-grow: 1;

  @media (pointer: fine) {
    &:hover {
      .text {
        opacity: 1;
      }
    }
  }

  &:active {
    transform: scale(0.95);
  }

  &.active {
    .text {
      opacity: 1;
    }
    .current-line {
      opacity: 1;
      transform: scaleX(1);

      --activate-transform-animation-duration: 120ms;
      --activate-opacity-animation-duration: 150ms;
      transition:
        transform var(--activate-transform-animation-duration)
          cubic-bezier(0.4, 0, 0.2, 1),
        opacity var(--activate-opacity-animation-duration) linear;
    }
  }

  .text {
    color: var(--theme-tab-inactive-text-color, var(--gearbox-secondary));
    padding: var(--gearbox-spacing-8) var(--gearbox-spacing-16);
    font-family: var(--theme-tab-font-family, var(--gearbox-font-family-primary));
    font-weight: var(--gearbox-font-weight-regular);
    font-size: var(--gearbox-font-size-body-large);
    opacity: 0.4;
    white-space: nowrap;
  }

  &.active .text {
    color: var(--theme-tab-active-text-color, var(--gearbox-secondary));
  }

  .current-line {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--theme-tab-active-underline-color, var(--gearbox-primary));
    --deactivate-transform-animation-duration: 75ms;
    --deactivate-opacity-animation-duration: 105ms;
    transform: scaleX(0.16);
    opacity: 0;
    transition:
      transform var(--deactivate-transform-animation-duration)
        cubic-bezier(0, 0, 0.2, 1),
      opacity var(--deactivate-opacity-animation-duration) linear;
  }
}
