doctype html
html lang="ja"
  head
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title
      = "CMS - #{yield(:title) || 'Admin'}"
    link rel="icon" type="image/svg+xml" href="/admin/favicon.svg"
    = csrf_meta_tags
    = csp_meta_tag

    = vite_client_tag
    = vite_typescript_tag 'entrypoints/admin_area/application'
    = yield(:head)

  body
    button.mobile-menu-toggle onclick="toggleMobileMenu()" ☰
    .sidebar-overlay onclick="toggleMobileMenu()"
    .layout
      aside.sidebar
        .sidebar-header
          h1.logo CMS
        nav.sidebar-nav
          ul
            / li class=('active' if controller_name == 'dashboard')
            /   = link_to 'ダッシュボード', admin_area_dashboard_path
            li class=('active' if controller_path.start_with?('admin_area/contents'))
              = link_to 'コンテンツ', admin_area_contents_all_path
            li class=('active' if controller_name == 'media')
              = link_to 'メディア', admin_area_media_path
            li class=('active' if controller_name == 'categories')
              = link_to 'カテゴリー', admin_area_categories_path
            / li class=('active' if controller_name == 'content_models')
            /   = link_to 'コンテンツモデル', admin_area_content_models_path
            / li class=('active' if controller_name == 'setting')
            /   = link_to '設定', admin_area_setting_path

        - if signed_in?
          .sidebar-footer
            .sidebar-user
              .sidebar-user-icon
                svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                  circle cx="12" cy="8" r="5"
                  path d="M20 21a8 8 0 0 0-16 0"
              .sidebar-user-info
                .sidebar-user-name= current_admin&.name || 'Admin'
                .sidebar-user-tenant= session[:tenant_id]
            = link_to admin_area_logout_path, class: 'sidebar-logout' do
              svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"
                polyline points="16 17 21 12 16 7"
                line x1="21" y1="12" x2="9" y2="12"
              | ログアウト

      = yield
