[cog-copyright] {
  --cog-copyright-color: var(--theme-navigation-text-color, #0a0804);

  display: block;
  font-size: var(--gearbox-font-size-label-small);
  font-weight: 300;
  line-height: var(--gearbox-line-height-normal);
  text-align: center;
  color: var(--cog-copyright-color);
  width: 100%;
}
