[cog-copyright] {
  --cog-copyright-color: var(--gearbox-on-secondary-container);

  display: block;
  font-family: var(--gearbox-font-family-system);
  font-size: var(--gearbox-font-size-caption-medium);
  font-weight: var(--gearbox-font-weight-medium);
  line-height: var(--gearbox-line-height-normal);
  color: var(--cog-copyright-color);
}
