[cog-detail-fragment-title] {
  font-size: var(--gearbox-font-size-title-large);
  font-weight: var(--gearbox-font-weight-semibold);
  line-height: var(--gearbox-line-height-normal);
  font-family: var(--theme-title-font-family);
  color: var(--theme-title-text-color);
}
