[cog-detail-fragment-title] {
  font-size: var(--gearbox-font-size-heading-miniature);
  font-weight: var(--gearbox-font-weight-semibold);
  line-height: var(--gearbox-line-height-normal);
  font-family: var(--gearbox-font-family-primary);
  color: var(--gearbox-secondary);
}
