// Typography - Mobile (SP)
// きゃぱぱぴゅぱぴゅFC Design System

@use 'sass:map';

// SP Typography Map
$typography-sp-sizes: (
  font-size-sp: (
    heading: (
      // 32px
      large: 2rem,
      // 28px
      medium: 1.75rem,
      // 24px
      small: 1.5rem,
      // 18px
      miniature: 1.125rem,
      // 16px
      tiny: 1rem,
    ),
    title: (
      // 22px
      large: 1.375rem,
      // 20px
      medium: 1.25rem,
      // 18px
      small: 1.125rem,
    ),
    label: (
      // 14px
      large: 0.875rem,
      // 13px
      medium: 0.8125rem,
      // 12px
      small: 0.75rem,
      // 10px
      tiny: 0.625rem,
    ),
    body: (
      // 24px
      gigantic: 1.5rem,
      // 22px
      majestic: 1.375rem,
      // 20p
      grand: 1.25rem,
      // 16px
      large: 1rem,
      // 15px
      medium: 0.9375rem,
      // 14px
      small: 0.875rem,
      // 12px
      tiny: 0.75rem,
    ),
    caption: (
      // 13px
      large: 0.8125rem,
      // 12px
      medium: 0.75rem,
      // 10px
      small: 0.625rem,
    ),
  ),
);
