[cog-input] {
  --cog-input-background-color: var(--gearbox-surface-dim);
  --cog-input-border-color: var(--cog-input-background-color);
  --cog-input-color: var(--gearbox-on-surface);
  --cog-input-box-shadow: none;

  display: flex;
  border-radius: 4px;
  background-color: var(--cog-input-background-color);
  padding: var(--gearbox-spacing-8) var(--gearbox-spacing-16);
  font-size: var(--gearbox-font-size-body-tiny);
  font-weight: var(--gearbox-font-weight-regular);
  line-height: var(--gearbox-line-height-relaxed);
  font-family: var(--gearbox-font-family-system);
  border-width: 2px;
  border-style: solid;
  border-color: var(--cog-input-border-color);
  outline: none;
  transition:
    background-color 120ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 120ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 120ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: var(--cog-input-box-shadow);
  color: var(--cog-input-color);
  width: 100%;
}
[cog-input]:focus {
  --cog-input-border-color: var(--gearbox-outline-primary);
  --cog-input-background-color: var(--gearbox-surface-bright);
  --cog-input-box-shadow: 0 0 1px 1px
    rgba(var(--gearbox-outline-primary-rgb), 0.16);
}
[cog-input]::placeholder {
  color: rgba(
    var(--gearbox-on-surface-rgb),
    var(--gearbox-opacity-placeholder)
  );
  opacity: var(--gearbox-placeholder);
}
[cog-input].invalid {
  --cog-input-border-color: var(--gearbox-outline-danger);
  --cog-input-color: var(--gearbox-danger);
  --cog-input-box-shadow: 0 0 1px 1px rgba(var(--gearbox-danger-rgb), 0.16);
}
