@use '../../../shared/theme/breakpoints/breakpoints' as breakpoints;

[cog-header-menu] {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;

  .auth-action-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: var(--gearbox-spacing-40);
    margin-left: auto;
  }

  .join-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
